/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14.06.2014, 19:22:20
    Author     : Tomato
*/

.addBookmark {
  float: left;
  margin-right: 5px;
  cursor: pointer;
  margin-top: -20px;
  margin-left: -10px;
}

.miniBookmark img {
    margin-top: 10px;
    margin-left: 1px;
}

.clickOntoBookmark {
        box-sizing: border-box;
        margin: 0;
 }

.RemoveBookmarkCross {
    cursor: pointer;
} 




/* from codepen: https://codepen.io/reimersjan/pen/zpuws?limit=all&page=2&q=chat*/

@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,900);
@import url(http://weloveiconfonts.com/api/?family=entypo);
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

.BookmarksHover {
    display:none;
  width: 400px;
  background: #fff;
  margin: 0 auto;
  font-family: 'Roboto';
  height: 60%;
}
header {
  background: #35323C;
  height: 50px;
  padding: 5px 10px;
}
.menu-icon {
  background: #2F2E33;
  padding: 5px 10px;
  float: left;
  font-size: 3em;
  line-height: 0.5em;
  color: #fff;
  border-radius: 3px;
}
.menu-icon:hover {
  background: #39caad;
  cursor: pointer;
}
.BookmarksHover h1 {
  float: right;
  color: #fff;
  margin: 5px;
  font-weight: 300;
  font-size: 1.3em;
} 
.new {
  background: rgb(57, 202, 173);
  color: #fff;
  text-align: center;
  padding: 20px;
}
.new:hover {
  cursor: pointer;
  background: rgba(57, 202, 173, 0.9);
}
.messages {
  padding: 10px;

  overflow-y: auto;
  background: white;
  overflow-x: hidden;
  height: 100%;
}
.message {
  float: left;
  width: 100%;
  margin: 10px 0;
  border-bottom: 1px solid #ccc;
}
.message p {
  font-size: 0.8em;
  width: 90%;
  margin: 5px 0;
}
.BookmarksHover img {
  border-radius: 100%;
  float: left;
  margin: 0 10px 15px 0;
}
p.time {
  color: rgba(0,0,0,0.5);
  font-weight: 400;
}
.BookmarksHover h2 {
  font-size: 1em;
  font-weight: 400;
  padding-bottom: 10px;
}
.BookmarksHover h2:after {
  content: '';
  display: inline-block;
  height: 10px;
  width: 10px;
  background: #39caad;
  border-radius: 100%;
  margin-left: 5px;
}
.BookmarksHover footer {
  width: 100%;
  background: #fff;
  padding: 10px;
  text-align: center;
  font-size: 0.8em;
}
.BookmarksHover footer p:before,
.BookmarksHover footer p:after {
  content: ' - ';
}

.machwech {
    left: 350px;
    position: relative;
    top: -40px;
}