/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 31.08.2014, 16:56:39
    Author     : Tomato
*/

#quickht {
    position: absolute;
    left: 5px;
    top: 120px;
    background: white;
    padding: 5px;
    overflow: scroll;
}

.langOpen {
    margin-left: 10px;
    margin-right: 30px;
    margin-bottom: 8px;
}

.InfoUsrTop {
    float: right;
    margin-top: -15px;
    margin-right: 5px;
}

.langAll {
    z-index: 920;
    display: none;
    position: absolute;
    top: 60px;
    width: 100px;
    left: 8px;
}

.langAll img {
    margin-top: -20px;
    margin-left: 2px;
}



.giphySearch {
    margin-top: -30px;
}

.giphySearch input[type="text"] {
    width: 420px;
    margin-left: 20px;
    margin: 2px;
    border: 1px lightgray solid;
    padding: 12px;
    color: gray;
    font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
}

.giphyLogo {
    text-align: right;
    top: -40px;
    position: relative;
    margin-left: 200px;
}

.giphySearch .results {
    margin-left: 5px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    height: 430px;
    overflow-y: auto;
}

.giphySingle {
    margin: 4px;
    cursor: zoom-in;
}

.giphySearch .left {
    float: left;
}


.giphyIconComment img {
    margin-top: -10px;
    cursor: pointer;
}


.hideDiaspora {
    cursor: pointer;
}