<c-wiz class="aJZAlb pYN4db vCjazd gplusoptimizer" role="listitem" style="
    margin-top: 20px;
    background: ghostwhite;
    border: 5px dashed #f4433691;
">
    <div class="mvhxEe wRd1We cDhoub XkfHGe  hE2QI" jsname="WsjYwc">
    <div jsname="EjRJtf" dir="ltr" style="margin: 15px;font-family: Roboto;font-size: 14px;">
       <h3>  Google+ - Optimizer: Wie geht es weiter mit Google+?</h3>

<center><img src="https://olealbers.github.io/google2diaspora/img/logogp.png" style="
    text-align: center;
    "></center>

<p>
  Traurig, aber wahr: Die Tage unser heißgeliebten Geisterstadt sind gezählt. Google+ macht dicht. Viele haben hier spannende Diskussionen gefunden, interessante Kontakte geknüpft. Und das in einem größtenteils freundlichen Umfeld</p>

<p>Kein Grund den Kopf hängen zu lassen: <br>
</p><p>Für eine Diskussion über die möglichen Alternativen schaue in der <a target="_blank" href="https://plus.google.com/communities/111225635090095775479">Google+ - Alternativen</a> - Community vorbei.</p>  
<p>Falls Du Dich - wie ich, der Autor des G+-Optimizers - für Diaspora* entscheiden möchtest: Es gibt eine <a target="_blank" href="https://olealbers.github.io/google2diaspora/">kleine aber feine Anleitung</a>, wie Du einen Diaspora*-Account einrichten,  Freunde (wieder-)findest und flott loslegen kannst.</p>
<p>Das braucht nur ein paar Minuten</p>

<p>Und warte nicht bis zum letzten Tag: Jede Alternative macht nur dann auch Sinn, wenn sie möglichst früh mit Inhalten gefüllt wird.</p>
<p>Um Dir das zu erleichtern gibt es im Google+ - Optimizer jetzt eine Share2Diaspora-Funktion. Geh einfach in die Einstellungen, trage Deinen pod ein (Was das ist, steht in der Anleitung) und Du kannst sofort Deinen Google+ - Beitrag auch bei Diaspora* teilen. Toll, nicht?</p>
  
<p>Zum Schluss noch ein <b>von Herzen kommendes Dankeschön</b>, an alle, die Google+ zur sympathischten Geisterstadt gemacht haben, die man sich vorstellen kann. Es hat Spaß mit Euch gemacht. Ich werde bis zum bitteren Ende bleiben, aber bin jetzt schon aktiver bei Diaspora*. Ich hoffe Euch dort bald begrüßen zu dürfen</p>
<i>Ole Albers</i>

<div style="
    text-align: right;
"><a href="#" style="
    /* text-align: right; */
">[Diesen Beitrag nicht mehr anzeigen]</a></div>
  
  
<p></p></div>

</div>

</c-wiz>