Die Community-Erweiterung zeigt (deine) Communities in der linken Schnellstartleiste
<br/>
<p>Über die folgenden Einstellungen lässt sich einstellen, welche Communities angezeigt weren sollen:<br/><br/></p>

<div class="btn-group subitem" data-toggle="buttons">
    <label class="btn btn-icon-only optimizer" id="chkCommunityOnlyMine">
        <input type="checkbox" class="toggle"> <i class="fa fa-times"></i>
    </label>

    <div class="subItemDescription">Nur eigene Communities zeigen<br/>
        <i>Nur die Communities anzeigen, von denen Du der Inhaber bist. (Sonst: Alle ausgewählten Communities).</i><br/><br/>
    </div>
</div>

<div class="btn-group subitem" data-toggle="buttons">
    <label class="btn btn-icon-only optimizer" id="chkCommunitySortByNumber">
        <input type="checkbox" class="toggle"> <i class="fa fa-times"></i>
    </label>

    <div class="subItemDescription">Nach Anzahl der Beiträge sortieren<br/>
        <i>Communities mit den meisten Beiträgen oben anzeigen. (Sonst alphabetische sortierung)<br/><br/>
    </div>
</div>
<div>
        <span>Anzahl beschränken (0=Alle anzeigen)</span><input type="range" id="limitCommunity" min="0" max="10"/><span id="rangeDisplay"></span>
</div>
