<p>Der Google+ - Optimizer wird unter der GPL 3.0 (<a href="../license.txt">Gnu Public License</a>) veröffentlicht. Es darf (und soll) modifiziert und angepasst werden.<br/>
Diese Lizenz betrifft ausschließlich die Dateien, die in diesem AddOn enthalten sind. Daten, die extern eingebunden werden (z.B. die Icons des Quickshares) sind nicht Bestandteil dieser Lizenz.<br/><br/>

(Sorry. Ich würd ja gerne, aber diese Dateien stammen nicht von mir. Und ich darf sie deshalb nicht weitergeben.)<br/>

<h2>Grafiken</h2>
<p>Die Grafiken im Chrome Webstore und das Icon für diese Erweiterung wurden freundlicherweise von <a href="https://plus.google.com/u/0/+IngoDingerKreativstapler/about">Ingo Dinger</a> (<a href="http://www.kreativstapler.de">www.kreativstapler.de</a>) zur Verfügung gestellt.</p>
<img src="../images/optimizer_setup.jpg">


</p>