<div class="page-sidebar navbar-collapse collapse">

    <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
        <li class="sidebar-toggler-wrapper">
            <a class="sidebar-toggler"></a>
        </li>


        <li class="menu start" data-title="Willkommen" data-subtitle="beim Google+ Optimizer" data-modules="welcome">
            <a id="navHome" href="#">
                <i class="icon-home"></i>
                <span class="title">Willkommen</span>
            </a>
        </li>
        <li class="menu" data-title="Filter" data-subtitle="Störende Inhalte löschen">
            <a href="#">
                <i class="icon-trash"></i>
                <span class="title">Filter</span>
                <span class="arrow "></span>
            </a>
            <ul class="sub-menu">
                <li data-title="Beitragsarten" data-subtitle="Spezielle Arten von Artikeln filtern"
                    data-modules="plus1">
                    <a href="#">Beitragsarten</a>
                </li>
                <li data-title="Zusatzblöcke" data-subtitle="Bestimmte Blöcke von Google+ filtern"
                    data-modules="community,featcol">
                    <a href="#">Zusatzblöcke</a>
                </li>
                <li data-title="Textinhalt" data-subtitle="Nach einem beliebigen Text filtern" data-modules="custom">
                    <a href="#">Nach Text</a>
                </li>
                <li data-title="Hashtags" data-subtitle="Nach bestimmten Hashtags filtern" data-modules="hashtag">
                    <a href="#">Nach Hashtags</a>
                </li>
                <li data-title="WHAM Filter" data-subtitle="I already know, what you did 'Last christmas'"
                    data-modules="wham">
                    <a href="#">WHAM-Filter</a>
                </li>

            </ul>
        </li>
        <li class="menu" data-title="Widgets" data-subtitle="Zusätzliche Inhalte für den Google+ - Stream">
            <a href="#">
                <i class="icon-share-alt"></i>
                <span class="title">Widgets</span>
                <span class="arrow "></span>
            </a>
            <ul class="sub-menu">
                <li data-title="Stoppuhr" data-subtitle="Nie wieder eine angebrannte Pizza essen"
                    data-modules="stoppwatch">
                    <a href="#">Stoppuhr</a>
                </li>
            </ul>
        </li>


        <li class="menu" data-title="Kontakte"
            data-subtitle="Optionen, die zusätzliche Informationen zu Deinen Kontakten hinzufügen">
            <a href="#">
                <i class="icon-user"></i>
                <span class="title">Kontakte</span>
                <span class="arrow "></span>
            </a>
            <ul class="sub-menu">
                <li data-title="Hervorheben" data-subtitle="Wichtige Personen farblich hervorheben"
                    data-modules="colorUsers">
                    <a href="#">Hervorheben</a>
                </li>
            </ul>
        </li>
        <li class="menu" data-title="Inhalte hervorheben"
            data-subtitle="Hier lassen sich bestimmte Inhalte optische verändern und hervorheben">
            <a href="#">
                <i class="icon-emoticon-smile"></i>
                <span class="title">Inhalte hervorheben</span>
                <span class="arrow "></span>
            </a>
            <ul class="sub-menu">
                <li data-title="Emoticons" data-subtitle="Smilies anzeigen" data-modules="showEmoticons">
                    <a href="#">Emoticons</a>
                </li>
                <li data-title="Leistungsschutzrecht"
                    data-subtitle="Verlage hervorheben, die sich im LSR organisiert haben" data-modules="markLSR">
                    <a href="#">Leistungsschutzrecht</a>
                </li>
                <li data-title="Adblocker-Blocker"
                    data-subtitle="Seiten hervorheben, die ihren Inhalt verstecken, wenn ein Adblocker installiert ist" data-modules="markAdblock">
                    <a href="#">Adblocker-Blocker</a>
                </li>
                <li data-title="Individuelles Hervorheben"
                    data-subtitle="Beliebige Seiten hervorheben" data-modules="markCustom">
                    <a href="#">Beliebige Seiten hervorheben</a>
                </li>
                <li data-title="Interrobang"
                    data-subtitle="Interrobang nach Duden-Vorschlag" data-modules="postillon">
                    <a href="#">Interrobang</a>
                </li>
            </ul>
        </li>
        <li class="menu" data-title="Schreiben" data-subtitle="Features, die das Schreiben bei Google+ erleichtern">
            <a href="#">
                <i class="icon-pencil"></i>
                <span class="title">Schreiben</span>
                <span class="arrow "></span>
            </a>
            <ul class="sub-menu">
                <li data-title="Autosave" data-subtitle="Eingegebene Texte automatisch zwischenspeichern"
                    data-modules="useAutoSave">
                    <a href="#">Autosave</a>
                </li>
                <li data-title="Giphy" data-subtitle="Animierte GIFs einfacher einfügen"
                    data-modules="useGiphy">
                    <a href="#">Animierte Gifs</a>
                </li>
            </ul>
        </li>
        <li class="menu" data-title="Verbesserungen"
            data-subtitle="Hier kannst Du zusätzliche Features zu Google+ hinzufügen">
            <a href="#">
                <i class="icon-star"></i>
                <span class="title">Verbesserungen</span>
                <span class="arrow "></span>
            </a>
            <ul class="sub-menu">
                <li data-title="Bookmarks"
                    data-subtitle="Dieses Feature erlaubt Dir, einzelne Beiträge als Bookmark zu speichern"
                    data-modules="useBookmarks">
                    <a href="#">Bookmarks</a>
                </li>
                <li data-title="Quick Communities" data-subtitle="Zeigt Dir auf Wunsch Deine Communities in der Schnellstartleiste" data-modules="quickCommunities">
                    <a href="#">Quick Communities</a>
                </li>
            </ul>
        </li>
        <li class="menu" data-title="Erweitert" data-subtitle="Erweiterte Einstellungen für den Google+ Optimizer">
            <a href="#">
                <i class="icon-settings"></i>
                <span class="title">Erweitert</span>
                <span class="arrow "></span>
            </a>
            <ul class="sub-menu">
                <li data-title="Speichern und Laden" data-subtitle="Einstellungen sichern oder Wiederherstellen" data-modules="loadsave">
                    <a href="#">Speichern & Laden</a>
                </li>
            </ul>
        </li>
        <li class="menu" data-title="Lizenzen und Quellen" data-subtitle="Verwendete Grafiken und Module" data-modules="license">
            <a href="#">
                <i class="icon-picture"></i>
                <span class="title">Lizenzen und Quellen</span>
            </a>
        </li>
    </ul>

    <!-- END SIDEBAR MENU -->
</div>
