<div class="gPlusWizard">
    <h3>Das wohl letzte Update für den Google+ - Optimizer</h3>
    <img id="headerImg">
    <div>
        <p style="text-align: justify">Soeben wurde eine neue Version des G+O installiert. </p>
        <div>Folgende Änderungen gibt es in dieser Version:<br/><br/>
            <b>Neue Features:</b><br/>
            <ul>
                <li>Diaspora-Integration:</li>
            </ul>
            <br/>
            Soll Dir helfen zu Diaspora zu wechseln, wenn Du das möchtest. Falls nicht. Einfach wegklicken und es erscheint nie wieder.        
        </div>
        <a id="wizardClose">Fenster schließen</a>
        <br/>
    </div>
</div>