<c-wiz class="aJZAlb pYN4db vCjazd gplusoptimizer diavortrag" role="listitem" style="
    margin-top: 20px;
    background: ghostwhite;
    border: 5px dashed #f4433691;
">
<div style="text-align: right;"><a class="hideDiaspora" >[Never show again]</a></div>
    <div class="mvhxEe wRd1We cDhoub XkfHGe  hE2QI" jsname="WsjYwc">
    <div jsname="EjRJtf" dir="ltr" style="margin: 15px;font-family: Roboto;font-size: 14px;">
       <h3>  Google+ - Optimizer: What about Google+?</h3>

<center><img src="https://olealbers.github.io/google2diaspora/img/logogp.png" style="
    text-align: center;
    "></center>

<p>    Sad but true: Google+ is shutting down. So where to go now?    </p>
<p>Want to go to Diaspora*? <b>Great news:</b> G+ Optimizer will help you crosspost your Google+ - messages.</p>

<p>Simply add your pod into the <a href="chrome-extension://edknapjhmlocokbpbihilmjmfmmddhop/setup/de/index.html" target="_blank" >Settings</a>, and you are ready to go!</p>
 <p>As a final note: Thanks for all those intereristing, silly and sometimes even magic discussions we had on G+</p>

<i>Ole Albers</i>

<div style="text-align: right;"><a class="hideDiaspora" >[Never show again]</a></div>
  
  
<p></p></div>

</div>

</c-wiz>