<p>The Google+ - Optimizer is published under the GPL 3.0 (<a href="../license.txt">Gnu Public License</a>). It may be (and should be) modified.<br/>
This license only concens the files included in this AddOn. External data (like the quickshare-icons) are not part of this license<br/><br/>

    (sorry. I would love to offer those files under GPL, but they aren't made by me.)<br/>

<h2>Images</h2>
<p>The images inside the chrome webstore and the icon of this extension are created by <a href="https://plus.google.com/u/0/+IngoDingerKreativstapler/about">Ingo Dinger</a> (<a href="http://www.kreativstapler.de">www.kreativstapler.de</a>) .</p>
<img src="../images/optimizer_setup.jpg">
</p>