<div class="page-sidebar navbar-collapse collapse">
    <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
        <li class="sidebar-toggler-wrapper">
            <a class="sidebar-toggler"></a>
        </li>


        <li class="menu start" data-title="Welcome" data-subtitle="at the Google+ - Optimizer" data-modules="welcome">
            <a id="navHome" href="#">
                <i class="icon-home"></i>
                <span class="title">Welcome</span>
            </a>
        </li>
        <li class="menu" data-title="Filter" data-subtitle="Remove content">
            <a href="#">
                <i class="icon-trash"></i>
                <span class="title">Filter</span>
                <span class="arrow "></span>
            </a>
            <ul class="sub-menu">
                <li data-title="Post categories" data-subtitle="remove some post categories"
                    data-modules="plus1">
                    <a href="#">Categories</a>
                </li>
                <li data-title="Additional panels" data-subtitle="remove specific block types"
                    data-modules="community,featcol">
                    <a href="#">Panels</a>
                </li>
                <li data-title="Text content" data-subtitle="Filter by text" data-modules="custom">
                    <a href="#">By Text</a>
                </li>
                <li data-title="Hashtags" data-subtitle="Filter by hashtags" data-modules="hashtag">
                    <a href="#">By Hashtag</a>
                </li>
                <li data-title="WHAM Filter" data-subtitle="I already know, what you did 'Last christmas'"
                    data-modules="wham">
                    <a href="#">WHAM-Filter</a>
                </li>

            </ul>
        </li>

        <li class="menu" data-title="Widgets" data-subtitle="Additional Panels">
            <a href="#">
                <i class="icon-share-alt"></i>
                <span class="title">Widgets</span>
                <span class="arrow "></span>
            </a>
            <ul class="sub-menu">

                <li data-title="Stoppwatch" data-subtitle="Never burn your pizza again"
                    data-modules="stoppwatch">
                    <a href="#">Stoppwatch</a>
                </li>
            </ul>
        </li>

        <li class="menu" data-title="Contacts"
            data-subtitle="Additional Information for your contacts">
            <a href="#">
                <i class="icon-user"></i>
                <span class="title">Contacts</span>
                <span class="arrow "></span>
            </a>
            <ul class="sub-menu">
                <li data-title="Highlight" data-subtitle="Highlight VIPs"
                    data-modules="colorUsers">
                    <a href="#">Highlight</a>
                </li>
            </ul>
        </li>

        <li class="menu" data-title="Highlight contents"
            data-subtitle="Highlight specific contents">
            <a href="#">
                <i class="icon-emoticon-smile"></i>
                <span class="title">Highlight contents</span>
                <span class="arrow "></span>
            </a>
            <ul class="sub-menu">
                <li data-title="Emoticons" data-subtitle="Display emoticons" data-modules="showEmoticons">
                    <a href="#">Emoticons</a>
                </li>
                <li data-title="Adblocker-Blocker"
                    data-subtitle="Highlight urls that have an adblock-detection" data-modules="markAdblock">
                    <a href="#">Adblocker-Blocker</a>
                </li>
                <li data-title="Custom domain highlighting"
                    data-subtitle="Highlight any sites" data-modules="markCustom">
                    <a href="#">Highlight custom sites</a>
                </li>
            </ul>
        </li>
        <li class="menu" data-title="Writing" data-subtitle="Features, that help writing posts">
            <a href="#">
                <i class="icon-pencil"></i>
                <span class="title">Writing</span>
                <span class="arrow "></span>
            </a>
            <ul class="sub-menu">
                <li data-title="Autosave" data-subtitle="autosave your posts" data-modules="useAutoSave">
                    <a href="#">Autosave</a>
                </li>
                <li data-title="Giphy" data-subtitle="Insert animated Gifs" data-modules="useGiphy">
                    <a href="#">Animated Gifs</a>
                </li>
            </ul>
            
        </li>
        <li class="menu" data-title="Enhancements"
            data-subtitle="Additional features for G+">
            <a href="#">
                <i class="icon-star"></i>
                <span class="title">Enhancements</span>
                <span class="arrow "></span>
            </a>
            <ul class="sub-menu">
                <li data-title="Bookmarks"
                    data-subtitle="Save single posts as bookmark"
                    data-modules="useBookmarks">
                    <a href="#">Bookmarks</a>
                </li>
                <li data-title="Quick Communities" data-subtitle="Zeigt Dir auf Wunsch Deine Communities in der Schnellstartleiste" data-modules="quickCommunities">
                    <a href="#">Quick Communities</a>
                </li>
            </ul>
        </li>
        <li class="menu" data-title="Extended" data-subtitle="Extended settings">
            <a href="#">
                <i class="icon-settings"></i>
                <span class="title">Extended</span>
                <span class="arrow "></span>
            </a>
            <ul class="sub-menu">
                <li data-title="Save and Load" data-subtitle="Save or load settings" data-modules="loadsave">
                    <a href="#">Save & Load</a>
                </li>
            </ul>
        </li>
        <li class="menu" data-title="License and sources" data-subtitle="License and sources" data-modules="license">
            <a href="#">
                <i class="icon-picture"></i>
                <span class="title">License and sources</span>
            </a>
        </li>
    </ul>

    <!-- END SIDEBAR MENU -->
</div>
