<div class="gPlusWizard">
    <h3>Update installed for the Google+ - Optimizer</h3>
    <img id="headerImg">
    <div>
        <p style="text-align: justify">A new version of the G+O has just been installed. </p>
        <div>This verstion has the following channges:<br/><br/>
            <b>New features:</b><br/>
            <ul>
                <li>Diaspora-Integration</li>                
            </ul>
            <br/>

        </div>
        <a id="wizardClose">Close window</a>
        <br/>
    </div>
</div>